 <article class="item">
      <div class="title">
        <span><a href="/item/{{id}}">{{title}}</a></span><span style="float:right">Posted by {{user.username}} on {{format_date created_at}}</span><br>
      </div>
      <div class = "content">
          <p>{{item_text}}</p>
      </div>
    </article>