<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" /> -->
<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" /> -->
<!--<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" /> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/css/foundation.min.css">
<link rel="stylesheet" href="assets/css/reset.css" />    
<link rel="stylesheet" href="assets/css/styles.css" />
    <title>Greenify</title>
</head>
<body>     
      <header>
        <article>
            <video autoplay muted loop src="video/190828_27_SuperTrees_HD_17.mp4"></video>
            <img id="logo" src="images/logo2.png" alt="">
            <h1>Greenify</h1>
            <h4>Bring Nature In</h4>
            <nav>
                <ul>
                    {{#if loggedIn}}
                      <a href="/user/"{{id}}>dashboard</a>
                      <button id="logout" class="btn-no-style">logout</button>
                    {{else}}
                      <li>
                        <a href="/login">Login</a>
                      </li>
                      <li>
                        <a href="/login">Create Account</a> 
                      </li>
                    {{/if}}
                </ul>
            </nav>
        </article>
    </header>

    <main>
        <article>
            {{#each categories as |category|}}                              
                <figure>
                  {{category_name}}
                  
                  <h2>{{category_name}}</h2>
                  <p>Plants that are typically grown indoors under varied or unatural lighting conditions</p>
                  <a class="main_links" href="/api/category/"{{id}}>View Plants</a>
                </figure>             
            {{/each}}
        </article>

        <article>
            <section>
                {{category_name}}            
                  <figure>                    
                    <img src="images/tools_1.png" />
                    <img src="images/tools_2.png" />
                    <img src="images/tools_3.png" />
                    <img src="images/tools_4.png" />
                    <img src="images/tools_5.png" />
                    <img src="images/tools_6.png" />
                    <h2>Equipment</h2>
                    <p>Tools for both experienced and aspiring Gardeners. Everything needed to turn your livingspace green.</p>
                    <a class="main_links" href="#">Browse</a>                    
                  </figure>
                               
            </section>               
        </article>               
    </main>
<footer>
    <div class="grid-x grid-container">
        <div class="cell large-3 medium-6 small-12">
          <h3>About Us</h3>
          <p>We are a group of students trying to change the way the urban landscape looks and feels.</p>
        </div>
    
        <div class="cell large-3 medium-6 small-12">
          <div class="pl-60">
          <h3>How to find us</h3>
          <ul>
            <li><a href="https://github.com/Baldemyr"style="color: #8ebf42">Andrew Cryer</a></li>
            <li><a href="https://github.com/BenBasic"style="color: #8ebf42">Ben Basic</a></li>
            <li> <a href="https://github.com/JamesF905"style="color: #8ebf42">James Fidlin</a></li>
          </ul>
        </div>
        </div>
        <div class="cell large-3 medium-6 small-12">
          <h3>Questions or Ideas?</h3>
          <div class="medium-12 cell">
                  <label>Email
                  <input type="text" placeholder="Enter Email*">
                  </label>
                </div>
                <div class="medium-4 cell">
                  <button type="button" class="button btn-custom">Subscribe</button>
                </div>
              </div>
     <div class="cell large-3 medium-6 small-12">
          <div class="pl-60">
            <img id="logo" src="images/logo2.png" alt="">
        </div>

    </footer>
  
          <div class="bottom">
          <div class="grid-x  grid-container">
        <div class="cell medium-9 small-12">
          <p>© 2020 Template by W3hubs.com</p>
        </div>
         <div class="cell large-3 medium-6 small-12">
           <p>
            <li><a href="https://greenifywiki.herokuapp.com"style="color: #8ebf42">Top of Page</a></li>
           </p>
         </div>
        </body>
      </html>